body {
  overflow-y: scroll;
  height: 100%;
  background-color: #333333;
}

body > div {
  height: 100%;
}

.App {
  text-align: center;
}

.align-center > input {
  text-align: center !important;
}

.list-item-icon {
  position: absolute !important;
  right: 60px !important;
  top: 20px !important;
  font-size: 2em !important;
}

.list-item-icon-input {
  position: absolute !important;
  right: 0px !important;
  top: 15px !important;
  font-size: 2em !important;
}

/*todo: how to use theme here?*/
.mine-selected {
  background-color: #f9d118 !important;
}

.chevron-up {
  position: absolute !important;
  right: 20px !important;
  top: 5px !important;
  font-size: 2em !important;
}

.chevron-down {
  position: absolute !important;
  right: 20px !important;
  top: 34px !important;
  font-size: 2em !important;
}

.header-icon {
  float: right !important;
  margin: 0px !important;
  font-size: 1em !important;
}

.input-left-label > div.label {
  background-color: unset !important;
  border: unset !important;
  font-size: unset !important;
  padding-left: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.no-right-padding {
  padding-right: 0px !important;
}

.no-left-padding {
  padding-left: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.no-bottom-margin {
  margin-bottom: 0px !important;
}

.full-width {
  width: 100% !important;
}

.input-large > input {
  font-size: 1.5em !important;
}

.hurry {
  color: brown;
}

.icon-pointer:hover {
  cursor: pointer;
}

.full-height {
  height: 100vh;
  /*overflow-y: scroll;*/
  margin-left: auto;
}

.white-background {
  background-color: white;
}

.fit-content {
  width: fit-content !important;
}

.no-border-input, .no-border-input > input {
  padding: 0px !important;
  border: 0px !important;
}

.no-bold {
  font-weight: unset !important;
}

.bold {
  font-weight: bold !important;
}

/*Modal*/
.scrollable-content {
  height: 40vh !important;
  overflow-y: scroll !important;
}