body {
  overflow-y: scroll;
  height: 100%;
  /*background-color: #333333;*/
  /*background-color: #2f272a;*/
  background-color: #121212;
}

@media (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
  }
}

body > div#root {
  height: 100%;
  max-width: 600px;
  width: 100%;
}

.App {
  text-align: center;
}

.center-content {
  display: flex !important;
  justify-content: center !important;
}

.align-center > input {
  text-align: center !important;
}

.list-item-icon {
  position: absolute !important;
  right: 60px !important;
  top: 20px !important;
  font-size: 2em !important;
}

.list-item-icon-input {
  position: absolute !important;
  right: 0px !important;
  top: 15px !important;
  font-size: 2em !important;
}

.list-item-icon-input-top-right {
  position: absolute !important;
  right: -8px !important;
  top: 6px !important;
  font-size: 1.4em !important;
}

.chevron-up-icon-stacked {
  position: absolute !important;
  right: -10px !important;
  top: 30px !important;
  font-size: 1.6em !important;
}

.chevron-down-icon-stacked {
  position: absolute !important;
  right: -10px !important;
  top: 49px !important;
  font-size: 1.6em !important;
}

.button-bottom-bar {
  background-color: #252525 !important;
  color: #cacaca !important;
  box-shadow: unset !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.button-bottom-bar i.icon:before {
  padding: 5px 15px !important;
  position: relative !important;
  left: -13px !important;
  top: 5px !important;
}

.button-bottom-bar-selected {
  background-color: #252525 !important;
  color: #cacaca !important;
  box-shadow: unset !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.button-bottom-bar > span, .button-bottom-bar-selected > span {
  margin-top: 15px !important;
}

.button-bottom-bar-selected:hover{
  box-shadow: unset !important;
}

.button-bottom-bar-selected i.icon:before {
  padding: 5px 15px !important;
  position: relative !important;
  left: -13px !important;
  top: 5px !important;
  background-color: #b08f10 !important;
  color: #ffffff !important;
  border-radius: 20px !important;
}

.header-back-arrow {
  background-color: #121212 !important;
  color: #ffffff !important;
  box-shadow: unset !important;
  font-size: 0.8em !important;
  padding: 6px 4px 0px 0px !important;
}

.button-bottom-bar-bk {
  /*background-color: #3c3c3c !important;*/
  background-color: #352c2f !important;
  color: #f9d118 !important;
  box-shadow: unset !important;
}

.button-bottom-bar-selected-bk {
  background-color: #f9d118 !important;
  /*color: #3c3c3c !important;*/
  color: #352c2f !important;
  box-shadow: unset !important;
}

.button-secondary-action-alone {
  position: absolute !important;
  right: 10px !important;
  bottom: 76px !important;
  padding: 21px 18px !important;
  border-radius: 16px !important;
  background-color: #b08f10 !important;
  color: #ffffff !important;
}

/*todo: how to use theme here?*/
.mine-selected {
  background-color: #f9d118 !important;
}

.planification-checkbox-day {
  display: block !important;
}

.planification-checkbox-day label {
  color: white !important;
}

.chevron-up {
  position: absolute !important;
  right: 20px !important;
  top: 5px !important;
  font-size: 2em !important;
}

.chevron-down {
  position: absolute !important;
  right: 20px !important;
  top: 34px !important;
  font-size: 2em !important;
}

.header-icon {
  float: right !important;
  margin: 0px !important;
  font-size: 1em !important;
}

.input-left-label > div.label {
  background-color: unset !important;
  border: unset !important;
  font-size: unset !important;
  padding-left: 0px !important;
}

.left-label {
  background-color: unset !important;
  border: unset !important;
  font-size: unset !important;
}

.no-padding {
  padding: 0px !important;
}

.no-right-padding {
  padding-right: 0px !important;
}

.no-left-padding {
  padding-left: 0px !important;
}

.no-margin, p {
  margin: 0px !important;
}

.header-inverse-margin {
  margin: 0em 0em calc(2rem -  0.165em ) !important;
}

.no-bottom-margin {
  margin-bottom: 0px !important;
}

.full-width {
  width: 100% !important;
}

.input-large > input {
  font-size: 1.5em !important;
}

.hurry {
  color: brown;
}

.icon-pointer:hover {
  cursor: pointer;
}

.full-height {
  height: 100vh;
  /*overflow-y: scroll;*/
  margin-left: auto;
}

.white-background {
  background-color: white;
}

.fit-content {
  width: fit-content !important;
}

.no-border-input, .no-border-input > input {
  padding: 0px !important;
  border: 0px !important;
}

.no-bold {
  font-weight: unset !important;
}

.bold {
  font-weight: bold !important;
}

/*Modal*/
.scrollable-content {
  height: 40vh !important;
  overflow-y: scroll !important;
}

.segment-basic-header {
  color: #212121 !important;
}

/*HIDE SCROLLBAR*/
/* For the container that you want to have horizontal scrolling */
.scrolling-no-scrollbar {
  /* Hide default scrollbar across different browsers */
  overflow-x: scroll !important;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* Internet Explorer and Edge */
}

/* Hide scrollbar for Chrome, Safari */
.scrolling-no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.ui.search.dropdown .menu {
  max-height: 14.3em !important;
}

div#g_id_onload, div.g_id_signin {
  width: 100%;
}

.disabled-btn {
  opacity: 0.45 !important;
  background-image: none !important;
}